/* ========= LIGHT BLUE ========== */
.hex-col2,
.intro-socials > a:hover,
.title h2:before,
.title h2:after,
.crystal-table:hover .price:before,
.owl-dot.active,
.bottom-footer,
blockquote strong:before,
header.sticky{
	background-color:#5fd1f3;
}

.name h1,
.option-isotop li a.selected,
.links > a:hover,
.testimonial-box > h5 span,
.crystal-contact strong,
.page-title h1,
.page-title ul li,
.share-post .round-socials a:hover,
.comment-detail > span{
	color:#5fd1f3;
}

.hex-col2:before,
.hex-col2:after,
.simple-table{
	border-color:#5fd1f3;
}
@media (max-width:980px){
header{background-color:#5fd1f3}

}



/* ========= BLACK ========== */
.hex-col1,
.crystal-skills .progress,
.crystal-experience:before,
.crystal-table,
.owl-dot,
footer{
	background-color:#141414;
}

.date > span,
.expereice-inner > span ,
.price > i,
.crystal-interest > ul li:hover a,
.bottom-footer span,
.bottom-footer p,
.social a,
.single-post .post-title,
blockquote strong{
    color:#141414;
}

.hex-col1:before,
.hex-col1:after,
.crystal-interest > ul li:hover a{
	border-color:#141414;
}
@media (max-width:980px){
.crystal-intro,
.crystal-intro:before, 
.crystal-intro:after,
.page-title{
	background-color:#141414;
}

}
/* ========= Dark Blue ========== */
.hex-col6,
.fancy-btn span,
.crystal-skills .progress .progress-bar,
.price:before,
.crystal-table:hover .bottom-btn:before,
button,
.post-date,
.comment-detail > a,
.simple-price{
	background-color:#009bc9;
}

h1, h2, h3, h4, h5, h6,
a:hover,
a:active,
a:focus,
.meta > li i,
.readmore,
blockquote strong span,
.post-bottom strong,
nav li.current a{
    color:#009bc9;
}

.hex-col6:before,
.hex-col6:after,
.expereice-inner,
.expereice-inner:before,
.testimonial-img,
.testimonial-box,
.testimonial-img .hexTop,
.testimonial-img .hexBottom,
.post-date:before{
	border-color:#009bc9;
}
@media (max-width:980px){
.price{background-color:#009bc9}
}

/* ========= GRAY ========== */
.hex-col4,
.table-content:before,
.crystal-interest li span:before,
.crystal-img > span:before{
	background-color:#484647;
}

.title h2,
.option-isotop li a,
.crystal-interest > ul li a,
.share-post .round-socials a,
.author-detail h3,
.comment-detail > h5{
    color:#484647;
}

.hex-col4:before,
.hex-col4:after,
.crystal-interest > ul li a,
.share-post .round-socials a{
	border-color:#484647;
}
@media (max-width:980px){
.table-content{background-color:#484647}
}